.child {
  width: 1220px;
  height: 1024px;
  position: relative;
  background-color: var(--color-fuchsia);
  display: none;
  opacity: 0.1;
  max-width: 100%;
  z-index: 0;
}
.item {
  width: 1px;
  height: 762px;
  position: absolute;
  margin: 0 !important;
  bottom: 359px;
  left: 220px;
  z-index: 2;
}
.b,
.frameChild {
  position: relative;
}
.frameChild {
  height: 75px;
  width: 291px;
  border-radius: var(--br-xl);
  background-color: var(--labels-primary);
  display: none;
}
.b {
  flex: 1;
  letter-spacing: -0.01em;
  line-height: 30px;
  z-index: 2;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 518px;
  border-radius: var(--br-xl);
  background-color: var(--labels-primary);
  width: 291px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-4xl) var(--padding-4xl);
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
}
.frameItem {
  position: absolute;
  top: 407px;
  left: 0;
  background-color: #d9d9d9;
  width: 1182px;
  height: 18px;
  z-index: 1;
}
.beentime12Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 174px;
  height: 458px;
  object-fit: cover;
  display: none;
}
.frameInner {
  position: absolute;
  top: 42px;
  left: 39px;
  width: 28px;
  height: 28px;
  z-index: 2;
}
.beentime12Parent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 518px;
  width: 174px;
  background-image: url(/public/beentime1-2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangleGroup {
  position: absolute;
  top: 24px;
  left: 0;
  width: 1182px;
  height: 458px;
}
.frameContainer {
  height: 482px;
  width: 1182px;
  position: relative;
  max-width: 100%;
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-34xl) var(--padding-27xl);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--g1);
}
.b1 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
  min-width: 116px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs);
}
.b2 {
  align-self: stretch;
  position: relative;
  font-size: var(--title3-regular-size);
  letter-spacing: -0.01em;
  line-height: 26px;
  z-index: 1;
}
.frameDiv {
  width: 372px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 118px;
  max-width: 100%;
}
.rectangleDiv {
  align-self: stretch;
  height: 103px;
  position: relative;
  border-radius: var(--br-11xs) 0 0 var(--br-11xs);
  background-color: var(--color-whitesmoke);
  display: none;
}
.b3 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
  min-width: 44px;
  z-index: 2;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.b4 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
  min-width: 44px;
  z-index: 2;
}
.frameParent2,
.frameWrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent2 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper1 {
  width: 729px;
  justify-content: flex-start;
  padding: 0 var(--padding-43xl);
  box-sizing: border-box;
}
.vectorIcon {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.rectangleContainer {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs) 0 0 var(--br-11xs);
  background-color: var(--color-whitesmoke);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 37px 0 0;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.div1,
.div2,
.div3,
.div4,
.div5 {
  position: absolute;
  top: 142px;
  left: 623px;
  letter-spacing: -0.01em;
  line-height: 26px;
  display: inline-block;
  min-width: 20px;
}
.div2,
.div3,
.div4,
.div5 {
  top: 252px;
}
.div3,
.div4,
.div5 {
  top: 362px;
}
.div4,
.div5 {
  top: 472px;
}
.div5 {
  top: 582px;
}
.frameChild1 {
  top: 170px;
}
.frameChild1,
.frameChild2,
.frameChild3,
.frameChild4,
.frameChild5 {
  height: 1px;
  width: 1334px;
  position: absolute;
  margin: 0 !important;
  right: -1167px;
  z-index: 3;
}
.frameChild2 {
  top: 280px;
}
.frameChild3,
.frameChild4,
.frameChild5 {
  bottom: 328px;
}
.frameChild4,
.frameChild5 {
  bottom: 218px;
}
.frameChild5 {
  bottom: 108px;
}
.vectorParent {
  position: absolute;
  top: 43px;
  left: 0;
  height: 719px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div6 {
  position: absolute;
  top: 692px;
  left: 623px;
  letter-spacing: -0.01em;
  line-height: 26px;
  display: inline-block;
  min-width: 20px;
}
.frameParent1 {
  height: 762px;
  position: relative;
  text-align: center;
  font-size: var(--title3-regular-size);
}
.frameChild6,
.frameGroup,
.frameParent1 {
  align-self: stretch;
  max-width: 100%;
}
.frameChild6 {
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
}
.frameButton {
  height: 94px;
  width: 423px;
  max-width: 100%;
}
.frameWrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-8xl);
  box-sizing: border-box;
  max-width: 100%;
}
.div,
.frameParent,
.inner {
  display: flex;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 139px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--t02);
  font-family: var(--font-noto-sans);
}
.div,
.inner {
  align-items: flex-start;
  box-sizing: border-box;
}
.inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-34xl);
  max-width: 100%;
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--g1);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-11xs) 0 124px;
  gap: 107px;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frameWrapper {
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
  .frameParent {
    gap: 69px 139px;
  }
}
@media screen and (max-width: 750px) {
  .frameWrapper {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .frameWrapper1 {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .frameParent {
    gap: 35px 139px;
  }
  .inner {
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
  .div {
    gap: 53px 107px;
  }
}
@media screen and (max-width: 450px) {
  .b1 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .b2 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .b3,
  .b4 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .frameParent2 {
    flex-wrap: wrap;
  }
  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .frameParent1 {
    height: auto;
    min-height: 762;
  }
  .frameButton {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frameParent {
    gap: 17px 139px;
  }
  .div {
    gap: 27px 107px;
  }
}
