.child {
  width: 1220px;
  height: 1024px;
  background-color: var(--color-fuchsia);
  display: none;
  opacity: 0.1;
  max-width: 100%;
}
.b,
.child,
.h1,
.icon {
  position: relative;
}
.icon {
  width: 161px;
  height: 72px;
  object-fit: cover;
}
.b,
.h1 {
  letter-spacing: -0.01em;
  display: inline-block;
}
.h1 {
  margin: 0;
  width: 468px;
  font-size: inherit;
  line-height: 60px;
  font-weight: 700;
  font-family: inherit;
  max-width: 100%;
}
.b {
  line-height: 30px;
  min-width: 116px;
}
.frameChild {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 54px;
  font-family: var(--font-noto-sans);
  font-size: var(--title3-regular-size);
  color: var(--t01);
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  max-width: 100%;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-2xs);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--t02);
}
.frameContainer,
.frameWrapper,
.group {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.group {
  width: 731px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 44px;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) var(--padding-16xl);
  box-sizing: border-box;
  font-size: var(--font-size-31xl);
  color: var(--t01);
}
.b1 {
  width: 231px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
}
.frameItem {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 54px;
  font-family: var(--font-noto-sans);
  font-size: var(--title3-regular-size);
  color: var(--t01);
}
.frameDiv,
.parent1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.parent1 {
  width: 720px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.frameDiv {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) var(--padding-16xl);
  box-sizing: border-box;
}
.b2 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
  min-width: 116px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 13px;
}
.disclosure,
.monthYyyy {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
}
.monthYyyy {
  min-width: 85px;
}
.disclosure {
  width: 13px;
}
.monthAndYear,
.monthAndYearWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.monthAndYear {
  flex-direction: row;
  gap: var(--gap-11xs);
}
.monthAndYearWrapper {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.next,
.previous {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 15px;
}
.arrows,
.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.arrows {
  width: 58px;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  text-align: center;
  font-size: var(--title3-regular-size);
}
.header {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-base) var(--padding-2xs);
  gap: var(--gap-xl);
  text-align: left;
}
.fri,
.mon,
.sat,
.sun,
.thu,
.tue,
.wed {
  flex: 1;
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 31px;
  max-width: 32px;
}
.dateHeader {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) var(--padding-base);
  gap: var(--gap-mid-5);
  font-size: var(--font-size-smi);
  color: var(--labels-tertiary);
}
.day,
.day1,
.day2,
.day3 {
  height: 44px;
  width: 40px;
  position: relative;
  display: none;
}
.date1 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day4 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date2 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day5 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date3 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day6,
.week1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.day6 {
  width: 40px;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.week1 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-base);
  gap: 8.150000000000091px;
}
.date4 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day7 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date5 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day8 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date6 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day9 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date7 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day10 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date8 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day11 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date9 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day12 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date10 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day13,
.week2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.day13 {
  width: 40px;
  padding: 0;
  box-sizing: border-box;
}
.week2 {
  align-self: stretch;
  padding: 0 var(--padding-base);
  gap: 8.166666666666666px;
}
.date11 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day14 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date12 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day15 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date13 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day16 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date14 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day17 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date15 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day18 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date16 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day19 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date17 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day20,
.week3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.day20 {
  width: 40px;
  padding: 0;
  box-sizing: border-box;
}
.week3 {
  align-self: stretch;
  padding: 0 var(--padding-base);
  gap: 8.166666666666666px;
}
.date18 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day21 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date19 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day22 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date20 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day23 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date21 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day24 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date22 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day25 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date23,
.ellipse {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20px);
  width: 100%;
  height: 100%;
}
.ellipse {
  border-radius: 50%;
  background-color: rgba(255, 84, 19, 0.12);
}
.date23 {
  line-height: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.date24,
.day26 {
  height: 44px;
  flex: 1;
  position: relative;
}
.day26 {
  min-width: 26px;
  font-size: var(--font-size-5xl);
  color: #ff5413;
}
.date24 {
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day27,
.week4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.day27 {
  width: 40px;
  padding: 0;
  box-sizing: border-box;
}
.week4 {
  align-self: stretch;
  padding: 0 var(--padding-base);
  gap: 8.166666666666666px;
}
.date25 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day28 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date26 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day29 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date27 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day30 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date28 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day31 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date29 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day32 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date30 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day33 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.day34 {
  height: 44px;
  width: 40px;
  position: relative;
  display: none;
}
.week5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: 8.160000000000036px;
}
.date31 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20px);
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.day35 {
  height: 44px;
  width: 40px;
  position: relative;
}
.date32 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20px);
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.day36 {
  height: 44px;
  width: 40px;
  position: relative;
}
.date33 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20px);
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.day37 {
  height: 44px;
  width: 40px;
  position: relative;
}
.date34 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20px);
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.day38 {
  height: 44px;
  width: 40px;
  position: relative;
}
.date35 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20px);
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.day39 {
  height: 44px;
  width: 40px;
  position: relative;
}
.date36 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20px);
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.day40 {
  height: 44px;
  width: 40px;
  position: relative;
}
.date37 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20px);
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.day41 {
  height: 44px;
  width: 40px;
  position: relative;
}
.week6 {
  width: 256px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-sm-5);
}
.calendar,
.date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.calendar {
  align-self: stretch;
  padding: var(--padding-10xs) 0 0;
  gap: var(--gap-6xs);
  font-size: var(--title3-regular-size);
}
.date {
  flex: 1;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.time1,
.title {
  position: relative;
  line-height: 22px;
}
.title {
  letter-spacing: -0.4px;
}
.time1 {
  align-self: stretch;
}
.dateAndTimePickerCompact {
  height: 34px;
  border-radius: var(--br-7xs);
  background-color: var(--fills-tertiary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-7xs) var(--padding-2xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.label {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 18px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.button1 {
  height: 24px;
  flex: 1;
  border-radius: var(--br-6xs);
  background-color: var(--color-dimgray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-5xs);
  box-sizing: border-box;
}
.label1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.button2 {
  height: 24px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-4xs);
  box-sizing: border-box;
}
.button2,
.contentsTrailing,
.segmentedControl {
  flex-direction: row;
  align-items: center;
}
.segmentedControl {
  height: 34px;
  width: 100px;
  border-radius: var(--br-4xs);
  background-color: var(--fills-tertiary-dark);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  justify-content: center;
  padding: var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--font-size-smi);
  color: var(--g1);
}
.contentsTrailing {
  height: 44px;
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-5xs);
  text-align: center;
}
.pickerDateAndTimeInlin,
.time {
  flex-direction: row;
  max-width: 100%;
}
.time {
  width: 361px;
  overflow: hidden;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
}
.pickerDateAndTimeInlin {
  flex: 1;
  background-color: var(--g1);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 235px;
}
.b3 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
  display: inline-block;
  min-width: 77px;
}
.monthAndYearDisclosure {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) 9.800000000000011px 0;
  text-align: left;
  font-size: var(--font-size-base-3);
}
.sunMonFri {
  width: 37px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 37px;
  white-space: nowrap;
}
.calendar1 {
  flex: 0.7212;
  border-radius: 7.18px;
  background-color: var(--g1);
  border: 0.7px solid var(--l01);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 12.899999999999636px;
}
.x {
  align-self: stretch;
  height: 12px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 18.67px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8px;
}
.weekDays {
  width: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 11.865000000000007px;
  box-sizing: border-box;
}
.eventCreationParent {
  width: 196px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.b4 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
  display: inline-block;
  min-width: 77px;
}
.frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9.199999999999989px var(--padding-5xs) 0 0;
  text-align: left;
  font-size: var(--font-size-base-3);
}
.div1 {
  width: 37px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 37px;
  white-space: nowrap;
}
.wrapper1 {
  flex: 0.7212;
  border-radius: 7.18px;
  background-color: var(--g1);
  border: 0.7px solid var(--l01);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 12.899999999999636px;
}
.x1 {
  align-self: stretch;
  height: 12px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 18.67px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8px;
}
.eventCreationParent1,
.xWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.xWrapper {
  width: 8px;
  flex-direction: column;
  padding: 11.16500000000002px 0 0;
  box-sizing: border-box;
}
.eventCreationParent1 {
  width: 196px;
  flex-direction: row;
  gap: var(--gap-smi);
}
.b5 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
  display: inline-block;
  min-width: 77px;
}
.wrapper2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) 9.800000000000011px 0;
  text-align: left;
  font-size: var(--font-size-base-3);
}
.div2 {
  width: 37px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 37px;
  white-space: nowrap;
}
.wrapper3 {
  flex: 0.7212;
  border-radius: 7.18px;
  background-color: var(--g1);
  border: 0.7px solid var(--l01);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 12.899999999999636px;
}
.x2 {
  align-self: stretch;
  height: 12px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 18.67px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8px;
}
.xContainer {
  width: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 11.865000000000007px;
  box-sizing: border-box;
}
.eventCreationParent2 {
  width: 196px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.b6 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
  display: inline-block;
  min-width: 86px;
}
.wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
  text-align: left;
  font-size: var(--font-size-base-3);
}
.div3 {
  width: 37px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 37px;
  white-space: nowrap;
}
.wrapper5 {
  width: 77px;
  border-radius: 7.18px;
  background-color: var(--g1);
  border: 0.7px solid var(--l01);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 12.899999999999636px;
}
.x3 {
  align-self: stretch;
  height: 12px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 18.67px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8px;
}
.xFrame {
  width: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 11.865000000000007px;
  box-sizing: border-box;
}
.eventCreationParent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi-5);
}
.b7 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
  display: inline-block;
  min-width: 86px;
}
.wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 9.800000000000011px;
  text-align: left;
  font-size: var(--font-size-base-3);
}
.div4 {
  width: 37px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 37px;
  white-space: nowrap;
}
.wrapper7 {
  width: 77px;
  border-radius: 7.18px;
  background-color: var(--g1);
  border: 0.7px solid var(--l01);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 12.899999999999636px;
}
.x4 {
  align-self: stretch;
  height: 12px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 18.67px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8px;
}
.xWrapper1 {
  width: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 11.865000000000007px;
  box-sizing: border-box;
}
.eventCreationParent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi-5);
}
.eventCreationParentParent,
.frameInner {
  border-radius: var(--br-3xs);
  border: 1px solid var(--l01);
  box-sizing: border-box;
  max-width: 100%;
}
.frameInner {
  width: 371px;
  height: 426px;
  position: relative;
  display: none;
}
.eventCreationParentParent {
  flex: 0.7466;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) var(--padding-27xl);
  gap: 10.25px;
  min-width: 241px;
  min-height: 426px;
  z-index: 1;
  font-size: var(--font-size-mini-4);
  color: var(--t02);
  font-family: var(--font-noto-sans);
}
.pickerInstance {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  text-align: center;
  font-size: var(--body-regular-size);
  color: var(--labels-primary);
  font-family: var(--body-regular);
}
.frameParent,
.frameWrapper1,
.parent,
.pickerInstance {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 753px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.frameWrapper1,
.parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--t02);
  font-family: var(--font-noto-sans);
}
.createEventTitle {
  height: 94px;
  width: 423px;
  max-width: 100%;
}
.dateContainers {
  width: 649px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--g1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-27xl) 386px 253px var(--padding-36xl);
  box-sizing: border-box;
  gap: 119px;
  letter-spacing: normal;
}
@media screen and (max-width: 825px) {
  .h1 {
    font-size: var(--font-size-21xl);
    line-height: 48px;
  }
  .group {
    gap: 22px 44px;
  }
  .pickerDateAndTimeInlin {
    flex: 1;
  }
  .eventCreationParentParent {
    flex: 1;
    min-height: auto;
  }
  .pickerInstance {
    flex-wrap: wrap;
  }
  .div {
    gap: 59px 119px;
    padding-left: var(--padding-8xl);
    padding-right: 193px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .b,
  .b1,
  .b2 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .next,
  .previous {
    font-size: var(--font-size-base);
  }
  .dateHeader,
  .header {
    flex-wrap: wrap;
  }
  .date1,
  .date2,
  .date3 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .week1 {
    flex-wrap: wrap;
  }
  .date10,
  .date4,
  .date5,
  .date6,
  .date7,
  .date8,
  .date9 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .week2 {
    flex-wrap: wrap;
  }
  .date11,
  .date12,
  .date13,
  .date14,
  .date15,
  .date16,
  .date17 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .week3 {
    flex-wrap: wrap;
  }
  .date18,
  .date19,
  .date20,
  .date21,
  .date22,
  .date23,
  .date24 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .date23,
  .date24 {
    font-size: var(--font-size-lgi);
  }
  .date24 {
    font-size: var(--font-size-base);
  }
  .week4 {
    flex-wrap: wrap;
  }
  .date25,
  .date26,
  .date27,
  .date28,
  .date29,
  .date30 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .week5 {
    flex-wrap: wrap;
  }
  .date31,
  .date32,
  .date33,
  .date34,
  .date35,
  .date36,
  .date37 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .time {
    flex-wrap: wrap;
  }
  .createEventTitle,
  .div,
  .eventCreationParentParent {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .createEventTitle,
  .eventCreationParentParent {
    padding-left: var(--padding-xl);
  }
  .div {
    gap: 30px 119px;
  }
}
