.frameChild {
  width: 167px;
  height: 719px;
  position: relative;
  border-radius: var(--br-11xs) 0 0 var(--br-11xs);
  background-color: var(--color-whitesmoke);
  display: none;
}
.b,
.div {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
  min-width: 121px;
  z-index: 1;
}
.div {
  line-height: 26px;
  min-width: 90px;
  white-space: nowrap;
}
.parent,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  flex-direction: row;
  padding: 0 var(--padding-4xs);
  font-size: var(--title3-regular-size);
}
.parent {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.b1,
.div1 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
  min-width: 121px;
  z-index: 1;
}
.div1 {
  line-height: 26px;
  min-width: 90px;
  white-space: nowrap;
}
.container,
.group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  flex-direction: row;
  padding: 0 var(--padding-4xs);
  font-size: var(--title3-regular-size);
}
.group {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.b2,
.div2 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
  min-width: 121px;
  z-index: 1;
}
.div2 {
  line-height: 26px;
  min-width: 90px;
  white-space: nowrap;
}
.frame,
.frameDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  flex-direction: row;
  padding: 0 var(--padding-4xs);
  font-size: var(--title3-regular-size);
}
.frameDiv {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.b3,
.div3 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
  min-width: 121px;
  z-index: 1;
}
.div3 {
  line-height: 26px;
  min-width: 90px;
  white-space: nowrap;
}
.parent1,
.wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper1 {
  flex-direction: row;
  padding: 0 var(--padding-4xs);
  font-size: var(--title3-regular-size);
}
.parent1 {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.b4,
.div4 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
  min-width: 121px;
  z-index: 1;
}
.div4 {
  line-height: 26px;
  min-width: 90px;
  white-space: nowrap;
}
.parent2,
.wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper2 {
  flex-direction: row;
  padding: 0 var(--padding-4xs);
  font-size: var(--title3-regular-size);
}
.parent2 {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.b5,
.div5 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
  min-width: 121px;
  z-index: 1;
}
.div5 {
  line-height: 26px;
  min-width: 90px;
  white-space: nowrap;
}
.parent3,
.rectangleParent,
.wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper3 {
  flex-direction: row;
  padding: 0 var(--padding-4xs);
  font-size: var(--title3-regular-size);
}
.parent3,
.rectangleParent {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-11xs) 0 0 var(--br-11xs);
  background-color: var(--color-whitesmoke);
  justify-content: flex-end;
  padding: var(--padding-lg) var(--padding-4xl);
  gap: var(--gap-30xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--t02);
  font-family: var(--font-noto-sans);
}
@media screen and (max-width: 450px) {
  .b {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .div {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .b1 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .div1 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .b2 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .div2 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .b3 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .div3 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .b4 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .div4 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .b5 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .div5 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
}
