.b {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
  min-width: 116px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.disclosure,
.monthYyyy {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
}
.monthYyyy {
  min-width: 72px;
}
.disclosure {
  width: 13px;
}
.monthAndYear,
.monthAndYearWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.monthAndYear {
  flex-direction: row;
  gap: var(--gap-11xs);
}
.monthAndYearWrapper {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.next,
.previous {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 15px;
}
.arrows,
.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.arrows {
  width: 58px;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  text-align: center;
  font-size: var(--title3-regular-size);
}
.header {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-base) var(--padding-2xs);
  gap: var(--gap-xl);
  text-align: left;
}
.fri,
.mon,
.sat,
.sun,
.thu,
.tue,
.wed {
  flex: 1;
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 31px;
  max-width: 32px;
}
.dateHeader {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) var(--padding-base);
  gap: var(--gap-mid-5);
  font-size: var(--font-size-smi);
  color: var(--g3);
}
.day,
.day1,
.day2,
.day3 {
  height: 44px;
  width: 40px;
  position: relative;
  display: none;
}
.date1 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day4 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date2 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day5 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date3 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day6,
.week1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.day6 {
  width: 40px;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.week1 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-base);
  gap: 8.150000000000091px;
  color: var(--t2);
}
.date4 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day7 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date5 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day8 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date6 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day9 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date7 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day10 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date8 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day11 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date9 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day12 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date10 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day13,
.week2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.day13 {
  width: 40px;
  padding: 0;
  box-sizing: border-box;
}
.week2 {
  align-self: stretch;
  padding: 0 var(--padding-base);
  gap: 8.166666666666666px;
  color: var(--t2);
}
.date11 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day14 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  color: var(--t2);
}
.date12 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day15 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  color: var(--t2);
}
.date13 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day16 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  color: var(--b1);
}
.date14 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day17 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date15 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day18 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date16 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day19 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date17 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day20,
.week3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.day20 {
  width: 40px;
  padding: 0;
  box-sizing: border-box;
}
.week3 {
  align-self: stretch;
  padding: 0 var(--padding-base);
  gap: 8.166666666666666px;
}
.date18 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day21 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date19 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day22 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date20 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day23 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date21 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day24 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date22 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day25 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date23,
.ellipse {
  height: 44px;
  position: relative;
}
.ellipse {
  width: 44px;
  border-radius: 50%;
  background-color: var(--r1);
  display: none;
}
.date23 {
  flex: 1;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day26 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date24 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day27,
.week4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.day27 {
  width: 40px;
  padding: 0;
  box-sizing: border-box;
}
.week4 {
  align-self: stretch;
  padding: 0 var(--padding-base);
  gap: 8.166666666666666px;
}
.date25 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day28 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date26 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day29 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date27 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day30 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date28 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day31 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date29 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day32 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.date30 {
  height: 44px;
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.day33 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.day34 {
  height: 44px;
  width: 40px;
  position: relative;
  display: none;
}
.week5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: 8.160000000000036px;
}
.date31 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20px);
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.day35 {
  height: 44px;
  width: 40px;
  position: relative;
}
.date32 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20px);
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.day36 {
  height: 44px;
  width: 40px;
  position: relative;
}
.date33 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20px);
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.day37 {
  height: 44px;
  width: 40px;
  position: relative;
}
.date34 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20px);
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.day38 {
  height: 44px;
  width: 40px;
  position: relative;
}
.date35 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20px);
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.day39 {
  height: 44px;
  width: 40px;
  position: relative;
}
.date36 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20px);
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.day40 {
  height: 44px;
  width: 40px;
  position: relative;
}
.date37 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20px);
  letter-spacing: -0.4px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.day41 {
  height: 44px;
  width: 40px;
  position: relative;
}
.week6 {
  width: 256px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-sm-5);
  color: var(--labels-primary);
}
.calendar,
.date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.calendar {
  align-self: stretch;
  padding: var(--padding-10xs) 0 0;
  gap: var(--gap-xs);
  font-size: var(--title3-regular-size);
  color: var(--g8);
}
.date {
  flex: 1;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.time1,
.title {
  position: relative;
  line-height: 22px;
}
.title {
  letter-spacing: -0.4px;
}
.time1 {
  align-self: stretch;
}
.dateAndTimePickerCompact {
  height: 34px;
  border-radius: var(--br-7xs);
  background-color: var(--fills-tertiary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-7xs) var(--padding-2xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.label {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 18px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.button1 {
  height: 24px;
  flex: 1;
  border-radius: var(--br-6xs);
  background-color: var(--color-dimgray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-5xs);
  box-sizing: border-box;
}
.label1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.button2 {
  height: 24px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-4xs);
  box-sizing: border-box;
}
.button2,
.contentsTrailing,
.segmentedControl {
  flex-direction: row;
  align-items: center;
}
.segmentedControl {
  height: 34px;
  width: 100px;
  border-radius: var(--br-4xs);
  background-color: var(--fills-tertiary-dark);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  justify-content: center;
  padding: var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--font-size-smi);
  color: var(--g1);
}
.contentsTrailing {
  height: 44px;
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-5xs);
  text-align: center;
}
.pickerDateAndTimeInlin,
.time {
  flex-direction: row;
  max-width: 100%;
}
.time {
  width: 361px;
  overflow: hidden;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
  color: var(--labels-primary);
}
.pickerDateAndTimeInlin {
  align-self: stretch;
  background-color: var(--g1);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div {
  width: 32px;
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.calendarWeekDayDate,
.container {
  display: flex;
  align-items: flex-start;
}
.container {
  width: 268px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  margin-top: -122px;
  font-size: var(--font-size-3xs);
  color: var(--b1);
}
.calendarWeekDayDate {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 352px;
  max-width: 100%;
}
.calendarWeekDays,
.frameChild {
  box-sizing: border-box;
  max-width: 100%;
}
.calendarWeekDays {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  min-width: 235px;
}
.frameChild {
  height: 441px;
  width: 340px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--g1);
  border: 1px solid var(--t2);
  display: none;
}
.p,
.p1 {
  margin: 0;
}
.div1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
  font-weight: 500;
  z-index: 1;
}
.calendarWeekDaysParent,
.frameGroup,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangleParent {
  width: 340px;
  border-radius: var(--br-5xs);
  background-color: var(--g1);
  border: 1px solid var(--t2);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-181xl) 59.69999999999982px var(--padding-182xl)
    var(--padding-42xl);
  min-width: 340px;
  font-size: var(--font-size-mini);
  color: var(--g4);
  font-family: var(--font-noto-sans);
}
.calendarWeekDaysParent,
.frameGroup {
  align-self: stretch;
}
.calendarWeekDaysParent {
  flex-direction: row;
  gap: var(--gap-15xl);
  text-align: center;
  font-size: var(--body-regular-size);
  font-family: var(--body-regular);
}
.frameGroup {
  flex-direction: column;
  gap: var(--gap-2xs);
}
.frameItem {
  width: 720px;
  height: 70px;
  max-width: 100%;
}
.frameParent,
.inner {
  display: flex;
  max-width: 100%;
}
.frameParent {
  width: 735px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.inner {
  width: 1303px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--g7);
  font-family: var(--font-noto-sans);
}
@media screen and (max-width: 750px) {
  .calendarWeekDaysParent {
    gap: 34px 17px;
  }
  .frameParent {
    gap: 20px 40px;
  }
}
@media screen and (max-width: 675px) {
  .rectangleParent {
    flex: 1;
    min-width: 100%;
  }
  .calendarWeekDaysParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .b {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .next,
  .previous {
    font-size: var(--font-size-base);
  }
  .dateHeader,
  .header {
    flex-wrap: wrap;
  }
  .date1,
  .date2,
  .date3 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .week1 {
    flex-wrap: wrap;
  }
  .date10,
  .date4,
  .date5,
  .date6,
  .date7,
  .date8,
  .date9 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .week2 {
    flex-wrap: wrap;
  }
  .date11,
  .date12,
  .date13,
  .date14,
  .date15,
  .date16,
  .date17 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .week3 {
    flex-wrap: wrap;
  }
  .date18,
  .date19,
  .date20,
  .date21,
  .date22,
  .date23,
  .date24 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .week4 {
    flex-wrap: wrap;
  }
  .date25,
  .date26,
  .date27,
  .date28,
  .date29,
  .date30 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .week5 {
    flex-wrap: wrap;
  }
  .date31,
  .date32,
  .date33,
  .date34,
  .date35,
  .date36,
  .date37 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .time {
    flex-wrap: wrap;
  }
  .rectangleParent {
    padding: var(--padding-111xl) var(--padding-xl) var(--padding-112xl);
    box-sizing: border-box;
  }
  .frameItem {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
