.eventMonitorChild {
  align-self: stretch;
  height: 103px;
  position: relative;
  border-radius: var(--br-11xs) 0 0 var(--br-11xs);
  background-color: var(--color-whitesmoke);
  display: none;
}
.b,
.b1 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
  min-width: 44px;
  z-index: 2;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid) 0 0;
}
.b2 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
  min-width: 44px;
  z-index: 2;
}
.container {
  width: 113px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.b3 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
  min-width: 44px;
  z-index: 2;
}
.dataTimer,
.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.dataTimer {
  width: 1199px;
  justify-content: flex-start;
  padding: 0 var(--padding-43xl);
  box-sizing: border-box;
}
.eventMonitorItem {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.eventMonitor {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs) 0 0 var(--br-11xs);
  background-color: var(--color-whitesmoke);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-24xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--t02);
}
.div,
.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8 {
  position: absolute;
  top: 142px;
  left: 379px;
  letter-spacing: -0.01em;
  line-height: 26px;
  display: inline-block;
  min-width: 20px;
}
.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8 {
  left: 721px;
}
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8 {
  left: 1118px;
}
.div3,
.div4,
.div5,
.div6,
.div7,
.div8 {
  top: 252px;
  left: 379px;
}
.div4,
.div5,
.div6,
.div7,
.div8 {
  left: 721px;
}
.div5,
.div6,
.div7,
.div8 {
  left: 1118px;
}
.div6,
.div7,
.div8 {
  top: 362px;
  left: 379px;
}
.div7,
.div8 {
  left: 721px;
}
.div8 {
  left: 1118px;
}
.frameChild,
.frameItem {
  height: 1px;
  width: 1334px;
  position: absolute;
  margin: 0 !important;
  top: 170px;
  right: -1167px;
  z-index: 3;
}
.frameItem {
  top: 280px;
}
.vectorParent {
  position: absolute;
  top: 43px;
  left: 0;
  height: 719px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--t02);
}
.outputMixer {
  height: 763px;
  position: relative;
}
.inputMapper,
.inputMapperChild,
.outputMixer {
  align-self: stretch;
  max-width: 100%;
}
.inputMapperChild {
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.inputMapper {
  height: 813px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-30xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--title3-regular-size);
  color: var(--color-darkslategray-100);
  font-family: var(--font-noto-sans);
}
@media screen and (max-width: 1200px) {
  .dataTimer {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .inputMapper {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .b,
  .b1,
  .b2,
  .b3 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .parent {
    flex-wrap: wrap;
  }
  .div,
  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7,
  .div8 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .outputMixer {
    height: auto;
    min-height: 763;
  }
  .inputMapper {
    height: auto;
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
}
